In [1]:
import pandas as pd

In [4]:
test = pd.read_csv('../input/train_folds.csv')

In [6]:
test.head(10)

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure,kfold
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0,-1
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0,-1
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0,-1
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0,-1
5,5,A,75.35,material_7,material_8,9,5,11,4,0,...,14.904,19.107,13.327,15.354,19.251,NaN,17.625,832.902,0,-1
6,6,A,161.71,material_7,material_8,9,5,12,2,4,...,17.714,19.924,11.560,16.653,17.734,NaN,16.637,684.438,1,-1
7,7,A,177.92,material_7,material_8,9,5,4,8,8,...,16.449,20.478,12.207,15.624,16.968,15.176,17.231,684.000,1,-1
8,8,A,109.50,material_7,material_8,9,5,9,6,5,...,15.965,19.604,14.091,15.674,13.327,13.535,15.408,NaN,0,-1
9,9,A,98.72,material_7,material_8,9,5,10,4,7,...,15.237,18.427,12.635,14.318,14.327,12.867,NaN,NaN,0,-1